.input-registration{
  border: solid 1px var(--color-gray-stroke);
  height: 29px;
  padding: 6px 16px;
  color: var(--color-gray-text);
}

input{
  display: inline-block;
  border-radius: 5px;
  outline: none;
}