:root{
  --color-accent: #FEC13E;
  --color-gray-background: #F5F5F7;
  --color-gray-stroke: #D4D4DA;
  --color-gray-text: #A6A6A6;
  --color-light-yellow: #FFFDF6;
  --color-grad: #E2C6A4;

  --border-radius: 5px;

  --container-width: 402px;

  --block-margin-y: 10px;

  --transition-duration: 0.4s;
}

